@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  margin: 0;
  background:#a03f3f;
}

.mainDisplay {
  margin: 0 auto;
  width: 1080px;
  height: 1920px;
  background: #ffffff;
}

.area {
  width: 100%;
  height: 100%;
  background: rgba(233, 233, 233, 0.7);
}

.toptext {
  width: 85%;
  margin: 0 auto;
}

.areaInside {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.introductionText {
  font-family: 'Roboto', sans-serif;
  font-size: 75px;
  border-bottom: 5px solid #666;
  padding-bottom: 5px;
  padding-top: 50px;
}

.desc {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  text-align: justify;
  margin-top: 10px
}

.kabineFlex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 1080px;
}

.kabine {
		width: 33.3%;
		height: 360px;
		background:#529e66;
		font-family: 'Lato', sans-serif;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		position: relative;
    color: #eee;
	}

  .middle {
    width: 33.4%
  }

	.kabineImg {
		margin: 0 auto;
		width: 55%;

	}

	.kabineImg img {
		width: 100%;
	}

	.kabineNavn {
		text-align: center;
		font-size: 25px;
		text-transform: uppercase;
	}

	.pris {
		text-align: center;
		font-size: 16px;
	}

	.tid {
		height: 50px;
		text-align: center;
		font-size: 16px;
	}

	.info {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 15px;
		border-radius: 50%;
		height: 30px;
		width: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: white;
    margin-right: 20px;
    margin-top: 20px;
    color: #000;
	}

.sliderbox {
  height: 150px;
  width: 85%;
  margin: 0 auto;
}

.slider {
  width: 100%;
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  height: 49px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 50px; /* Set a specific slider handle width */
  height: 50px; /* Slider handle height */
  background: #333; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 10px;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.samletpris {
  font-family: 'Lato', sans-serif;

}

.samletpris span {
  font-size: 25px;
}

.samletpris b {
  font-size: 35px;
}

.payment {
  background: rgba(233, 233, 233, 1);
  padding-top: 20px;
  padding-bottom: 20px;
}

.buttons {
  font-size: 0px;
}

.buttons .firstauto {
  background: #000;
  color: white;
  border: 0px;
  margin: 0;
  width: 290px;
  height: 100px;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 700;
  border-right: 3px solid #eee;
}

.buttons .firstauto:hover {
  background: #333;
  cursor: pointer;

}

.buttons .kurv {
  background: rgba(82, 158, 117, 0.8);
  color: white;
  border: 0px;
  margin: 0;
  width: 500px;
  height: 100px;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.buttons .kurv:hover {
  background: rgba(82, 158, 117, 1);
  cursor: pointer;

}

.paymentText {
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  text-align: center;
  margin: 0 auto;
  width: 500px;
  border-bottom: 5px solid #666;
  margin-bottom: 21px;
}

.paymentMethods {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

}


.paymentMethods div img {
  width: 200px;
}
